.question_box
  = render question

ul.question_answers
  = render question.answers.with_attached_files

/ = render 'answers/new', answer: question.answers.new
/ = render 'answers/new', answer: question.answers.new, link: question.answers.new.links.build

= render 'answers/new'
